@font-face {
    font-family: 'TT Commons';
    src: url('../../assets/fonts/TT\ Commons\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../assets/fonts/Gilroy-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../../assets/fonts/TT\ Commons\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Commons';
    src: url('../../assets/fonts/TT\ Commons\ Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@mixin flex_one {
    display: flex;
    align-items: center;
}

$font-primary: 'TT Commons', sans-serif;
$font-main: "TT Commons";
$font-gilroy: "Gilroy", sans-serif;
$font-medium: 'Commons', sans-serif;

.wrapper {
    .main_wrapper {
        .main {
            .about {
                width: 100%;
                height: 350px;
                background-image: url("..//../assets/images/about_bg.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }

            ._about1 {
                position: relative;
                bottom: 0px;
                margin-top: -200px;
            }

            ._about {
                padding: 40px;

                .container {
                    ._about-container {
                        background-color: #fff;
                        padding: 40px 30px;
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;

                        .profile-card {
                            width: 100%;
                            position: relative;

                            .profile-info {
                                display: flex;
                                align-items: start;
                                gap: 20px;

                                .profile-img {
                                    position: relative;

                                    &::after {
                                        content: "9";
                                        color: #fff;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        position: absolute;
                                        width: 25px;
                                        height: 25px;
                                        border-radius: 50%;
                                        background-color: #EB0D6F;
                                        bottom: 0;
                                        left: 5px;
                                    }
                                }

                                .profile_detail {
                                    flex-grow: 1;
                                    margin-bottom: 15px;

                                    .div {
                                        width: 100%;
                                        margin-bottom: 7px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        font-family: $font-main;

                                        &:nth-of-type(2) {
                                            align-items: start;
                                            margin-top: 5px;
                                        }

                                        .name {
                                            display: flex;
                                            align-items: center;
                                            gap: 5px;

                                            span {
                                                color: #0041F2;
                                                font-family: $font-main;
                                                font-size: 17px;
                                                font-weight: 600;
                                            }
                                        }

                                        span {
                                            color: #555961;
                                            font-size: 14px;
                                            font-family: $font-main;
                                            font-weight: 500;
                                        }

                                        .name1 {
                                            h3 {
                                                font-size: 22px;
                                                color: #00195B;
                                            }

                                            span {
                                                font-family: $font-main;
                                                font-size: 16px;
                                                color: #000000;
                                                font-family: 500;
                                                margin-top: 5px;
                                                display: block;
                                            }
                                        }

                                        a {
                                            text-decoration: none;
                                            display: flex;
                                            align-items: center;
                                            gap: 5px;
                                            font-family: $font-main;

                                            img {
                                                width: 17px;
                                            }

                                            span {
                                                color: #0041F2;
                                                font-size: 20px;
                                                font-weight: 500;

                                            }

                                        }
                                    }
                                }

                                p {
                                    font-family: $font-main;
                                    font-size: 17px;
                                    color: #132030;
                                    opacity: 0.8;
                                    margin-top: 10px;

                                    span {
                                        color: rgba(19, 32, 48, 0.7);
                                    }
                                }

                                .pi {
                                    color: rgba(0, 0, 0, 1);
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 17px;
                                    line-height: 20px;
                                    color: #000000;
                                    opacity: 0.6;
                                    margin: 20px 0;
                                }
                            }

                            .actions {
                                display: flex;
                                justify-content: start;
                                margin-top: 100px;
                                gap: 70px;

                                .profile-left {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                }

                                .profile-right {
                                    display: flex;
                                    // justify-content: space-between;
                                    gap: 20px;
                                    flex-grow: 1;

                                    button {
                                        display: flex;
                                        align-items: center;
                                        font-size: 16px;
                                        padding: 8px 20px;
                                        background-color: #0041F2;
                                        gap: 10px;
                                        color: #fff;
                                        outline: none;
                                        border: none;
                                        border-radius: 5px;
                                        cursor: pointer;
                                        font-weight: 600;
                                        font-family: $font-main;
                                    }

                                    .more-btn {
                                        display: flex;
                                        padding: 8px 10px;
                                        background: #f1f3f5;
                                        border-radius: 8px;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 3px;
                                        border: none;
                                        cursor: pointer;
                                        position: absolute;
                                        // top: 0;
                                        right: 0;
                                        
                                        width: 45px;
                                        height: 45px;

                                    }

                                }
                            }
                        }

                    }

                    .profile-menu {
                        padding: 20px 30px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #fff;
                        margin-top: 10px;
                        outline: none;
                        border: none;
                        border-radius: 8px;

                        .menu-toggle-links {
                            display: none;
                            font-size: 24px;
                            background: none;
                            border: none;
                            cursor: pointer;
                            color: #0041F2;
                        }

                        .tabs {
                            list-style: none;
                            display: flex;
                            gap: 25px;

                            li {
                                font-family: $font-main;
                                font-size: 18px;
                                color: #666;
                                cursor: pointer;
                                transition: color 0.3s ease;
                                display: block;
                                position: relative;

                                a {
                                    text-decoration: none;
                                    color: #00195B;

                                    &.active {
                                        font-weight: bold;
                                        color: #00195B;

                                        &::after {
                                            content: "";
                                            position: absolute;
                                            width: 100% !important;
                                            height: 2px;
                                            left: 0;
                                            bottom: calc(-100% - 3px);
                                            background-color: #0041F2;

                                            @media screen and (max-width:840px) {
                                                display: none;
                                            }
                                        }
                                    }

                                    &:hover {
                                        color: #0056b3;
                                    }
                                }
                            }
                        }

                        .social-icons {
                            display: flex;
                            gap: 10px;

                            a {
                                display: block;
                                padding: 5px 10px;
                                border-radius: 5px;
                                background-color: rgba(85, 89, 97, 0.11);
                            }
                        }
                    }

                    .about_profile {
                        display: flex;

                        gap: 25px;
                        margin: 25px 0;
                        align-items: stretch;
                        font-family: $font-main !important;

                        .profile_about {
                            width: 65%;
                            padding: 20px 30px;
                            background-color: #fff;
                            border-radius: 8px;

                            .h2 {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                ._div {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;

                                    span {
                                        font-size: 18px;
                                        font-weight: 700;
                                        color: rgba(0, 65, 242, 1);
                                        line-height: 20px;
                                    }

                                    ._div1 {

                                        display: flex;
                                        align-items: center;
                                        gap: 10px;

                                        p {
                                            font-size: 15px;
                                            color: rgba(0, 25, 91, 1);
                                            line-height: 16px;
                                            font-weight: 600;
                                        }
                                    }
                                }

                            }

                            .description {
                                margin: 15px 0;
                                font-size: 16px;
                                font-weight: 500;
                                color: rgba(0, 0, 0, 0.7);
                                line-height: 20px;
                            }

                            .info {
                                p {
                                    margin: 15px 0;
                                    display: flex;
                                    justify-content: flex-start;
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 0.7);
                                    line-height: 20px;

                                    span {
                                        flex: 1;

                                    }

                                    .strong {
                                        flex: 2;
                                        font-weight: 600;
                                        margin-left: 10px;
                                        color: rgba(0, 0, 0, 1);
                                    }

                                    .str {
                                        flex: 2;
                                    }

                                    .strong1 {
                                        flex: 2;
                                        font-weight: 600;

                                        color: rgba(0, 65, 242, 1);
                                    }

                                    .strong2 {

                                        font-weight: 600;

                                        color: rgba(0, 65, 242, 1);
                                    }

                                }
                            }

                            .hr {
                                width: 100%;
                                height: 1px;
                                background-color: rgba(217, 217, 217, 0.5);
                                margin: 20px 0;
                            }

                        }

                        .maps_profile {
                            width: 35%;
                            height: auto;
                            padding: 20px 0 0 0;
                            border-radius: 10px;
                            background-color: #fff;
                            border-radius: 8px;
                            overflow: hidden;

                            .head {
                                padding: 0 20px 20px 20px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                button {
                                    border: none;
                                    background: transparent;
                                    cursor: pointer;
                                }
                            }

                            .leaflet-container {
                                height: 400px !important;
                                width: 100% !important;
                            }
                        }
                    }

                    .about_friends {
                        display: flex;
                        gap: 25px;
                        display: flex;
                        align-items: stretch;

                        .left_box {
                            width: 65%;

                            .categories {
                                @include flex_one();
                                align-items: start !important;
                                width: 90%;
                            }

                            h2 {
                                font-family: $font-gilroy;
                                font-size: 28px;
                                font-weight: 700;
                                text-align: left;
                            }

                            .categories,
                            h2,
                            .line,
                            ._link {
                                margin: 30px 40px;
                            }

                            .categories {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding-bottom: 20px;
                                flex-wrap: nowrap;

                                .category {
                                    width: 47%;

                                    .text_name {
                                        @include flex_one();
                                        gap: 10px;
                                        margin: 0 0 15px 0;

                                        h3 {
                                            font-family: $font-gilroy;
                                            font-size: 18px;
                                            font-weight: 700;
                                        }
                                    }

                                    .tags {
                                        @include flex_one();
                                        width: 100%;
                                        gap: 10px;
                                        flex-wrap: wrap;

                                        .tag,
                                        .show-more {
                                            background-color: #F0F0F2;
                                            padding: 10px 15px;
                                            text-align: center;
                                            font-family: $font-medium;
                                            font-size: 16px;
                                            font-weight: 500;
                                            border-radius: 8px;
                                            text-decoration: none;
                                            color: rgba(32, 33, 46, 0.8);
                                        }

                                        .show-more {
                                            color: rgba(0, 25, 91, 1);
                                        }

                                        button {
                                            background-color: rgba(0, 65, 242, 0.13);
                                            border: none;
                                            cursor: pointer;
                                            padding: 10px 15px;
                                            text-align: center;
                                            font-family: $font-medium;
                                            font-size: 16px;
                                            font-weight: 500;
                                            border-radius: 8px;
                                            color: rgba(0, 25, 91, 1);
                                        }
                                    }
                                }
                            }

                            .line {
                                background-color: #D9D9D9;
                                height: 2px;
                            }

                            ._link {
                                @include flex_one();
                                text-decoration: none;
                                gap: 7px;
                                font-family: $font-primary;
                                font-weight: 900;
                                color: #00195B;
                                font-size: 17px;
                                transition: color 0.3s ease;

                                &:hover {
                                    color: #0f5abb;
                                }
                            }
                        }

                        .right_box {
                            width: calc(35% - 25px);
                        }

                        .left_box {
                            border-radius: 8px;
                            background-color: #fff;
                        }

                        .right_box {
                            .directions-container {
                                border-radius: 8px;
                                background-color: #fff;
                                padding: 30px 40px 40px 40px;

                                h2 {
                                    font-family: $font-gilroy;
                                    font-size: 28px;
                                    font-weight: 700;
                                    text-align: left;
                                }

                                .directions {
                                    @include flex_one();
                                    flex-wrap: wrap;
                                    gap: 10px;
                                    margin: 30px 0;

                                    .direction-item {
                                        @include flex_one();
                                        gap: 5px;
                                        background-color: #F0F0F2;
                                        padding: 10px 15px;
                                        text-align: center;
                                        font-family: $font-medium;
                                        font-size: 17px;
                                        font-weight: 500;
                                        border-radius: 8px;
                                        color: rgba(32, 33, 46, 0.8);
                                        text-decoration: none;
                                    }
                                }

                                ._link {
                                    @include flex_one();
                                    text-decoration: none;
                                    gap: 5px;
                                    font-family: $font-primary;
                                    font-weight: 900;
                                    color: #00195B;
                                    font-size: 17px;
                                    transition: color 0.3s ease;

                                    &:hover {
                                        color: #0f5abb;
                                    }
                                }
                            }

                            .help-container {
                                border-radius: 8px;
                                margin-top: 20px;
                                padding: 40px 25px;
                                background-color: #0041F2;
                                display: flex;
                                justify-content: space-between;

                                .div {
                                    h2 {
                                        font-family: $font-gilroy;
                                        color: #fff;
                                        font-size: 27px;
                                        font-weight: bold;
                                        margin: 0 0 20px 0;
                                    }

                                    p {
                                        font-family: $font-gilroy;
                                        color: #fff;
                                        font-size: 17px;
                                        font-weight: 700;
                                        margin: 30px 0 0 0;
                                    }

                                    .hr {
                                        background-color: #4089FF;
                                        width: 100%;
                                        height: 1px;
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }

                        @media (min-width: 1250px) and (max-width: 1400px) {
                            .left_box {
                                .categories {
                                    .category {
                                        width: 43%;
                                    }
                                }
                            }
                        }


                    }
                }
            }


        }
    }
}

@media screen and (max-width: 1092px) {

    .wrapper {
        .main_wrapper {
            .main {
                ._about {
                    .container {
                        ._about-container {
                            padding: 10px !important;
                        }

                        .about_profile {
                            flex-wrap: wrap;

                            .profile_about {
                                width: 100% !important;
                            }

                            .maps_profile {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {

    .wrapper {
        .main_wrapper {
            .main {
                ._about {
                    padding: 10px !important;
                }
            }
        }
    }
}

@media screen and (max-width:840px) {
    .main_wrapper {
        .main {
            ._about {
                .container {
                    .profile-menu {
                        padding: 10px 15px !important;
                        position: relative !important;

                        .menu-toggle-links {
                            display: block !important;
                            position: relative;
                            z-index: 1001;
                        }

                        .tabs {
                            padding: 10px 15px !important;
                            display: none !important;
                            flex-direction: column;
                            gap: 10px !important;
                            position: absolute;
                            top: 50px;
                            left: 0;
                            background: white;
                            width: 100%;
                            padding: 10px;
                            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

                            &.show {
                                display: flex !important;
                            }
                        }
                    }


                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .wrapper {
        .main_wrapper {
            .main {
                ._about {
                    padding: 10px !important;

                    .about_friends {
                        flex-wrap: wrap;

                        .left_box {
                            width: 100% !important;

                            .categories {
                                margin: 0 !important;
                                padding: 10px 15px !important;

                                @media screen and (max-width: 468px) {
                                    flex-wrap: wrap;
                                    gap: 10px;

                                    .category {
                                        width: 100% !important;
                                    }
                                }
                            }

                            .line {
                                margin: 15px !important;

                            }

                            h2 {
                                margin: 0 !important;
                                padding: 15px 15px 0 15px;
                            }

                            ._link {
                                margin: 0 !important;
                                padding: 15px !important;
                            }
                        }

                        .right_box {
                            width: 100% !important;

                            .directions-container {
                                padding: 15px !important;

                                .directions {
                                    margin: 15px 0 !important;
                                }
                            }
                        }
                    }

                    .about_profile {
                        .profile_about {
                            padding: 10px 15px !important;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 640px) {
    .wrapper {
        .main_wrapper {
            .main {
                ._about {
                    .container {
                        ._about-container {
                            .profile-card {
                                position: relative;

                                .actions {
                                    flex-direction: column;
                                    align-items: start;
                                    gap: 10px;
                                    margin-top: 0 !important;

                                    .more-btn {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        width: 45px;
                                        height: 45px;
                                    }

                                    @media screen and (max-width: 440px) {
                                        .profile-right {
                                            flex-direction: column !important;
                                            width: 100% !important;

                                            gap: 10px;

                                            button {
                                                width: 100% !important;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }
                                        }
                                    }

                                }

                                .profile-info {
                                    flex-direction: column;

                                    .profile_detail {
                                        width: 100% !important;

                                        @media screen and (max-width: 360px) {
                                            .div {
                                                gap: 10px;
                                                flex-direction: column !important;
                                                align-items: start !important;
                                            }
                                        }
                                    }
                                }
                            }

                        }

                        .profile-menu {
                            position: relative !important;

                            .menu-toggle-links {
                                display: block !important;
                                position: relative;
                                z-index: 1001;
                            }

                            .tabs {
                                display: none !important;
                                flex-direction: column;
                                gap: 10px !important;
                                position: absolute;
                                top: 50px;
                                left: 0;
                                background: white;
                                width: 100%;
                                padding: 10px;
                                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

                                &.show {
                                    display: flex !important;
                                }
                            }
                        }

                        .about_profile {
                            flex-wrap: wrap;

                            .profile_about {
                                .h2 {
                                    flex-direction: column !important;
                                    gap: 10px !important;
                                    align-items: start;
                                }
                            }
                        }

                        .about_friends {

                            .left_box {
                                h2 {
                                    margin: 0 !important;
                                    padding: 20px 20px 10px 20px !important;
                                }

                                .line {
                                    margin: 10px 20px !important;
                                }

                                .categories {
                                    flex-wrap: wrap !important;
                                    gap: 20px;
                                    margin: 0 !important;
                                    padding: 10px 20px;

                                    .category {
                                        width: 100% !important;
                                    }
                                }

                                ._link {
                                    margin: 0 !important;
                                    padding: 0px 20px 20px 20px !important;
                                }
                            }

                            .right_box {
                                .directions-container {
                                    padding: 20px !important;
                                }
                            }

                        }
                    }
                }

                ._about1 {
                    margin-top: -280px !important;
                }
            }
        }
    }
}