@font-face {
    font-family: 'TT Commons';
    src: url('../../assets/fonts/TT\ Commons\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$font-main: 'TT Commons';

.wrapper {
    .main_wrapper {
        .main {
            .location {
                padding: 40px;
                .container {
                    border: none;
                    .location-container {
                        background-color: #fff;
                        padding: 20px 30px;
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;
                        gap: 25px;
                        .profile-card {
                            width: 45%;
                            .profile-info {
                                display: flex;
                                align-items: start;
                                gap: 20px;
                                .profile-img {
                                    position: relative;

                                    &::after {
                                        content: "9";
                                        color: #fff;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        position: absolute;
                                        width: 25px;
                                        height: 25px;
                                        border-radius: 50%;
                                        background-color: #EB0D6F;
                                        bottom: 0;
                                        left: 5px;
                                    }
                                }
                                .profile_detail {
                                    flex-grow: 1;
                                    margin-bottom: 15px;

                                    .div {
                                        width: 100%;
                                        margin-bottom: 7px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        font-family: $font-main;

                                        &:nth-of-type(2) {
                                            align-items: start;
                                            margin-top: 5px;
                                        }

                                        .name {
                                            display: flex;
                                            align-items: center;
                                            gap: 5px;

                                            span {
                                                color: #0041F2;
                                                font-family: $font-main;
                                                font-size: 17px;
                                                font-weight: 600;
                                            }
                                        }

                                        span {
                                            color: #555961;
                                            font-size: 14px;
                                            font-family: $font-main;
                                            font-weight: 500;
                                        }

                                        .name1 {
                                            h3 {
                                                font-size: 22px;
                                                color: #00195B;
                                            }

                                            span {
                                                font-family: $font-main;
                                                font-size: 16px;
                                                color: #000000;
                                                font-family: 500;
                                                margin-top: 5px;
                                                display: block;
                                            }
                                        }

                                        a {
                                            text-decoration: none;
                                            display: flex;
                                            align-items: center;
                                            gap: 5px;
                                            font-family: $font-main;

                                            img {
                                                width: 17px;
                                            }

                                            span {
                                                color: #0041F2;
                                                font-size: 20px;
                                                font-weight: 500;

                                            }

                                        }
                                    }
                                }

                                p {
                                    font-family: $font-main;
                                    font-size: 17px;
                                    color: #132030;
                                    opacity: 0.8;
                                    margin-top: 10px;

                                    span {
                                        color: rgba(19, 32, 48, 0.7);
                                    }
                                }

                                .pi {
                                    color: rgba(0, 0, 0, 1);
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 17px;
                                    line-height: 20px;
                                    color: #000000;
                                    opacity: 0.6;
                                    margin: 20px 0;
                                }
                            }

                            .actions {
                                display: flex;
                                align-items: end;
                                justify-content: space-between;

                                .profile-left {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                }

                                .profile-right {
                                    display: flex;
                                    justify-content: end;
                                    gap: 20px;
                                    flex-grow: 1;

                                    button {
                                        display: flex;
                                        align-items: center;
                                        font-size: 16px;
                                        padding: 8px 20px;
                                        background-color: #0041F2;
                                        gap: 10px;
                                        color: #fff;
                                        outline: none;
                                        border: none;
                                        border-radius: 5px;
                                        cursor: pointer;
                                        font-weight: 600;
                                        font-family: $font-main;
                                    }

                                    .more-btn {
                                        display: flex;
                                        padding: 8px 10px;
                                        background: #f1f3f5;
                                        border-radius: 8px;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 3px;
                                        border: none;
                                        cursor: pointer;

                                    }

                                }
                            }
                        }
                        .maps {
                            flex-grow: 1;
                            height: 300px;
                            border-radius: 10px;

                            .leaflet-container {
                                height: 300px !important;
                                width: 100% !important;
                            }
                        }
                       

                    }

                    .profile-menu {
                        padding: 20px 30px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #fff;
                        margin-top: 10px;
                        .menu-toggle-links {
                            display: none;
                            font-size: 24px;
                            background: none;
                            border: none;
                            cursor: pointer;
                            color: #0041F2;
                        }

                        ul {
                            list-style: none;
                            display: flex;
                            gap: 25px;

                            li {
                                font-family: $font-main;
                                font-size: 18px;
                                color: #666;
                                cursor: pointer;
                                transition: color 0.3s ease;

                                &.active {
                                    font-weight: bold;
                                    color: #00195B;
                                    border-bottom: 2px solid #007bff;

                                    &::after {
                                        content: "";
                                    }
                                }

                                &:hover {
                                    color: #0056b3;
                                }
                            }
                        }

                        .social-icons {
                            display: flex;
                            gap: 10px;

                            a {
                                display: block;
                                padding: 5px 10px;
                                border-radius: 5px;
                                background-color: rgba(85, 89, 97, 0.11);

                            }
                        }
                    }
                    .cards{
                        .card{
                            display: flex;
                            align-items: center;
                            background-color: #fff;
                            border-radius: 8px;
                            margin: 20px 0;
                            overflow: hidden;
                            border: 1px solid #D9D9D9;
                            .card-left{
                                width: 45%;
                                display: flex;
                                align-items: center;
                                gap: 25px;
                                border-right: 1px solid #D9D9D9;
                                .card-img{
                                    width: 240px;
                                    height: 240px;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .card-text{
                                    font-family: $font-main !important;
                                    .text{
                                        .div{
                                            display: flex;
                                            align-items: center;
                                            h3, small{
                                                font-size: 20px;
                                                color: black;
                                                font-weight: 600;
                                                display: flex;
                                                align-items: center;
                                                gap: 3px;
                                            }
                                        }
                                        span{
                                            font-size: 17px;
                                            font-weight: 400;
                                            display: block;
                                            margin-top: 10px;
                                        }
                                    }
                                    .text-bg{
                                        font-family: $font-main;
                                        padding: 7px 10px;
                                        border-radius: 5px;
                                        display: inline-flex;
                                        gap: 10px;
                                        align-items: center;
                                        background-color: rgba(0, 65, 242, 0.07);
                                        margin: 20px 0;
                                        .profile{
                                            width: 30px;
                                            height: 30px;
                                            border-radius: 50%;
                                            background-color: #0041F2;
                                            color: white;
                                            font-size: 11px;
                                            font-weight: bold;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }
                                        p{
                                            font-size: 15px;
                                            font-weight: 400;
                                            color: rgba(83, 86, 94, 1);
                                        }
                                    }
                                    .text-footer{
                                        margin-top: 12px;
                                        display: block;
                                        p, span{
                                            font-size: 15px;
                                            font-weight: 400;
                                            color: rgba(0, 0, 0, 1);
                                        }
                                    }
                                }

                            }
                            .card-right{
                                width: calc(55%);
                                padding: 0 30px;
                                font-family: $font-main;
                                p{
                                    font-size: 17px;
                                    font-weight: 500;
                                    color:#000000;
                                    opacity: 0.6;
                                    line-height: 22px;

                                }
                                .item{
                                    margin: 7px 0;
                                     small{
                                        font-size: 18px;
                                        color: rgba(0, 0, 0, 1);
                                        font-weight: 600;
                                        
                                    }
                                    small{
                                        margin-left: 5px;
                                    }
                                }
                                .footer-items{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    .ranking_link{
                                        display: inline-flex;
                                        text-decoration: none;
                                        align-items: center;
                                        gap: 3px;
                                        color: #00195B;
                                        font-weight: 600;
                                        font-size: 17px;
                                        span{
                                            margin: 0;
                                        }
                                       
                                    }
                                    .hotel-meta {
                                        display: flex;
                                        align-items: center;
                                       
                                        gap: 10px;
    
                                        .meta_div {
                                           display: flex;
                                           align-items: center;
                                            gap: 5px;
                                            background-color: rgba(0, 65, 242, 0.09);
                                            padding: 5px 10px;
                                            border-radius: 15px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1092px){
    .wrapper{
        .main_wrapper{
            .main{
                .location{
                    padding: 10px;
                    .location-container{
                        flex-wrap: wrap !important;
                        .profile-card{
                            width: 100% !important;
                        }
                        
                    }
                }
            }
        }
    }
   
}
@media screen and (max-width: 992px){
    .wrapper{
        .main_wrapper{
            .main{
                .location{
                  
                  .cards{
                    .card{
                       flex-wrap: wrap;
                       gap: 20px;
                       padding-bottom: 20px;
                        .card-left{
                            width: 100% !important;
                            border-right: none;
                            .card-img{
                                width: 300px !important;
                                height: 240px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                        }
                        .card-right{
                            width: 100% !important;

                        }
                    }
                  }
                }
            }
        }
    }
   
}
@media screen and (max-width: 640px){
    .wrapper{
        .main_wrapper{
            .main{
                .location{
                    
                    .location-container{
                     padding: 10px 15px !important;
                        .profile-card{
                            position: relative !important;
                           .profile-info{
                            flex-direction: column !important;
                            
                           }
                           .actions{
                            flex-direction: column;
                            align-items: start !important;
                            gap: 10px;
                            .profile-right{
                                .more-btn{
                                    position: absolute !important;
                                    top: 0 !important;
                                    right: 0 !important;
                                    width: 40px !important;
                                    height: 40px !important;
                                }
                            }
                           }
                        }
                        
                    }
                    .cards{
                        .card{
                           flex-wrap: wrap;
                           .card-left{
                                gap: 10px !important;
                                width: 100% !important;
                                
                                flex-wrap: wrap;
                                .card-img{
                                    width: 100% !important;
                                    height: 240px;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .card-text{
                                    padding: 0 20px;
                                }
    
                            }
                            .card-right{
                                padding: 0 20px !important;
                                width: 100% !important;
    
                            }
                        }
                      }
                    .profile-menu{
                        position:  relative !important;
                        .menu-toggle-links {
                            display: block !important;
                        }
                
                        .tabs {
                            display: none !important;
                            flex-direction: column;
                            gap: 10px !important;
                            position: absolute;
                            top: 50px;
                            left: 0;
                            background: white;
                            width: 100%;
                            padding: 10px;
                            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                
                            &.show {
                                display: flex !important;
                            }
                        }
                    }
                }
            }
        }
    }
   
}


@media screen and (max-width: 440px){
    .wrapper{
        .main_wrapper{
            .main{
                .location{
                    .location-container{
                        .profile-card{ 
                           .profile-info{
                            .pi{
                                margin-bottom: 0 !important;
                            }
                           }
                           .actions{
                            .profile-right{
                                flex-direction: column;
                                width: 100% !important;
                                gap: 0px;
                                button{
                                    width: 100% !important;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    
                                }

                            }
                           }
                        }
                        
                    }
                    .cards{
                        .card-right{
                            .footer-items{
                                margin-top: 10px;
                                flex-direction: column !important;
                                gap: 8px;
                                align-items: flex-start !important;
                                .ranking_link{
                                    order: 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
}