@font-face {
  font-family: "TT Commons";
  src: url("../../assets/fonts/TT Commons Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.wrapper .main_wrapper .main .location .container .location-container {
  display: flex;
  align-items: center;
  position: relative !important;
}
.wrapper .main_wrapper .main .location .container .location-container .swiper,
.wrapper .main_wrapper .main .location .container .location-container .forum {
  border-radius: 8px;
}
.wrapper .main_wrapper .main .location .container .location-container .swiper {
  background-color: #fff;
  position: static !important;
}
.wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-prev {
  position: absolute !important;
  left: 46%;
  top: 50%;
  background-color: #F3F3F3 !important;
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
@media screen and (max-width: 1092px) {
  .wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-prev {
    left: 0;
    top: 70%;
  }
}
@media screen and (max-width: 1092px) {
  .wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-prev {
    left: 10px;
    top: 80%;
  }
}
.wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-prev::after {
  display: none !important;
}
.wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-prev svg {
  width: 100% !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  height: 14px !important;
  margin-right: 3px;
}
.wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-next {
  position: absolute !important;
  right: 12px;
  top: 50%;
  width: 32px !important;
  height: 32px !important;
  background-color: #F3F3F3;
  border-radius: 50%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
@media screen and (max-width: 1092px) {
  .wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-next {
    right: 0;
    top: 70%;
  }
}
@media screen and (max-width: 640px) {
  .wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-next {
    right: 10px;
    top: 80%;
  }
}
.wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-next::after {
  display: none !important;
}
.wrapper .main_wrapper .main .location .container .location-container .swiper .swiper-button-next svg {
  width: 100% !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  height: 14px !important;
  margin-left: 3px;
}
.wrapper .main_wrapper .main .location .container .location-container .ads {
  width: 48%;
}
@media screen and (max-width: 1092px) {
  .wrapper .main_wrapper .main .location .container .location-container .ads {
    width: 95%;
  }
}
@media screen and (max-width: 1092px) {
  .wrapper .main_wrapper .main .location .container .location-container .ads {
    width: 0%;
  }
}
.wrapper .main_wrapper .main .location .container .location-container .ads .slide-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .slide-tab .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .slide-tab .left h2 {
  font-family: "TT Commons";
  font-size: 28px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .slide-tab .left .announcements__tabs .tab {
  font-family: "TT Commons";
  font-size: 17px;
  margin: 0 10px;
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: 1px solid #9EA5B6;
  border-radius: 5px;
  cursor: pointer;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .slide-tab .left .announcements__tabs .active {
  border: none;
  background-color: #0041F2;
  color: white;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .slide-tab .right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .slide-tab .right .div {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #94B1FF;
  align-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper {
  padding: 30px 0 0 0;
  height: auto !important;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card {
  background: #DDE2EE;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 auto;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card:hover {
  transform: translateY(-5px);
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__image {
  width: 100%;
  height: 300px;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__info {
  padding: 0px 20px 0 20px;
  display: block;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__info .card__item {
  position: relative;
  display: block;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__info .card__item h3 {
  padding-top: 20px;
  font-size: 21px;
  align-items: center;
  font-family: "TT Commons";
  font-weight: 700;
  color: #00195B;
  line-height: 25px;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__info .card__item .card__score {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  background-color: #EB0D6F;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -10%;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__info .card__item .__img {
  position: absolute;
  top: -10%;
  right: 0;
  width: 55px;
  height: 55px;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__info .card__item .card__status {
  color: #05974E;
  font-family: "TT Commons";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__info .card__item .card__age {
  font-family: "TT Commons";
  font-size: 14px;
  font-weight: 500;
  color: rgba(19, 32, 48, 0.5);
  line-height: 20px;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .swiper-wrapper .card .card__info .card__item .gold {
  display: block;
  color: #132030;
  font-family: "TT Commons";
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px !important;
  line-height: 24px;
  color: #132030;
  opacity: 0.6;
}
.wrapper .main_wrapper .main .location .container .location-container .ads .ranking_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 3px;
  padding-top: 30px;
}
.wrapper .main_wrapper .main .location .container .social-layout {
  display: flex;
  margin: 25px 0;
  gap: 25px;
  align-items: stretch;
  box-sizing: border-box;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar {
  width: 30%;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one h3 {
  font-size: 20px;
  color: rgb(0, 19, 70);
  line-height: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .friends-list {
  display: grid;
  gap: 10px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .friends-list .card {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .friends-list .card .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .friends-list .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .friends-list .card .img .badge {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: blue;
  border-radius: 50%;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .friends-list .card .info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .friends-list .card .info h3 {
  line-height: 19px;
  font-size: 19px;
  font-weight: 500;
  color: rgb(0, 25, 91);
  margin-bottom: 5px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .friends-list .card .info p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(85, 89, 97);
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__one .view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 8px 20px;
  background-color: #0041F2;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two {
  padding: 20px 30px;
  margin-top: 25px;
  background-color: #fff;
  border-radius: 8px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album {
  width: 100%;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .slide-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .slide-tab .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .slide-tab .left h2 {
  font-family: "TT Commons";
  font-size: 28px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .slide-tab .right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .slide-tab .right .div {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #94B1FF;
  align-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 {
  width: 100%;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .swiper-button-next,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .swiper-button-prev,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .swiper-button-next,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .swiper-button-prev {
  display: none !important;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .slide-tab,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .slide-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .slide-tab .left,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .slide-tab .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .slide-tab .left h2,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .slide-tab .left h2 {
  font-family: "TT Commons";
  font-size: 28px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .slide-tab .left .announcements__tabs .tab,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .slide-tab .left .announcements__tabs .tab {
  font-family: "TT Commons";
  font-size: 17px;
  margin: 0 10px;
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: 1px solid #9EA5B6;
  border-radius: 5px;
  cursor: pointer;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .slide-tab .left .announcements__tabs .active,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .slide-tab .left .announcements__tabs .active {
  border: none;
  background-color: #0041F2;
  color: white;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .slide-tab .right,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .slide-tab .right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .slide-tab .right .div,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .slide-tab .right .div {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #94B1FF;
  align-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .swiper-wrapper,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .swiper-wrapper {
  margin-top: 20px;
  height: auto !important;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .swiper-wrapper .card,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .swiper-wrapper .card {
  background: #DDE2EE;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 auto;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .swiper-wrapper .card:hover,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .swiper-wrapper .card:hover {
  transform: translateY(-5px);
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .swiper-wrapper .card .card__image,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .swiper-wrapper .card .card__image {
  width: 100%;
  height: 300px;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo .swiper-wrapper .card .card__image img,
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .photo-1 .swiper-wrapper .card .card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main_wrapper .main .location .container .social-layout .sidebar .sidebar__two .album .view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px 20px;
  background-color: #0041F2;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content {
  width: calc(70% - 25px);
  box-sizing: border-box;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs {
  display: flex;
  padding: 20px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .menu-toogles {
  display: none;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .links {
  display: flex;
  gap: 10px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .links a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
  color: rgb(0, 25, 91);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .links a.active {
  color: #0041F2;
  opacity: 1;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .dropdown {
  position: relative;
  display: inline-block;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .dropdown .dropdown-btn {
  background: none;
  border: none;
  font-size: 16px;
  color: rgb(109, 114, 126);
  cursor: pointer;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  font-family: "TT Commons";
  display: flex;
  gap: 5px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  list-style: none;
  padding: 0;
  margin: 5px 0;
  width: 150px;
  display: none;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .dropdown .dropdown-menu li {
  font-family: "TT Commons";
  border-bottom: 1px solid #eee;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .dropdown .dropdown-menu li:last-child {
  border-bottom: none;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .dropdown .dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: "TT Commons";
  color: rgb(109, 114, 126);
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .dropdown .dropdown-menu li a:hover {
  background: #f5f5f5;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tabs .dropdown.active .dropdown-menu {
  display: block;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content {
  display: none;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post {
  background-color: #fff;
  margin-top: 25px;
  padding: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header {
  margin-bottom: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-radius: 6px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .img .badge {
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: blue;
  border-radius: 50%;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .info h3 {
  line-height: 22px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(0, 25, 91);
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .info p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(85, 89, 97);
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .info .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .info .btn-group .sms {
  width: 35px !important;
  height: 35px !important;
  background-color: rgb(0, 65, 242);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .info .btn-group .menu-button {
  width: 35px !important;
  height: 35px !important;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: blue;
  gap: 3px;
  background-color: rgba(127, 134, 151, 0.03);
  border: none;
  padding: 5px;
  cursor: pointer;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-header .card .info .btn-group .menu-button .dots {
  width: 5px;
  height: 5px;
  background-color: rgb(0, 65, 242);
  border-radius: 50%;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-images .post-image {
  width: calc(33.3333333333% - 15px);
  border-radius: 8px;
  height: 280px;
  overflow: hidden;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-images .post-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-footer .hotel-meta {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-footer .hotel-meta .meta_div {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgba(0, 65, 242, 0.09);
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-footer .hotel-meta .meta_div1 {
  background: transparent;
}
@media screen and (max-width: 440px) {
  .wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .post-footer {
    flex-direction: column !important;
    align-items: start;
    gap: 10px;
  }
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card {
  display: flex;
  background: white;
  gap: 25px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card__image-wrapper {
  width: 45%;
  height: 270px;
  border-radius: 15px;
  overflow: hidden;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card__content {
  padding: 15px;
  width: calc(55% - 25px);
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card__title {
  font-size: 20px;
  font-weight: 6 0;
  line-height: 23px;
  margin-bottom: 10px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card__tags {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card .tag {
  background: #f0f0f0;
  color: rgb(83, 86, 94);
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 15px;
  font-weight: 400;
  cursor: pointer;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card__text {
  font-size: 16px;
  color: #666;
  line-height: 20px;
  margin-bottom: 10px;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card__link {
  font-size: 14px;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card__link:hover {
  text-decoration: underline;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card .ranking_link {
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 17px;
  font-weight: 600;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content .post .travel-card .ranking_link img {
  vertical-align: middle;
}
.wrapper .main_wrapper .main .location .container .social-layout .content .tab-content.active {
  display: block;
}

@media screen and (max-width: 992px) {
  .wrapper .main_wrapper .main .location .social-layout .sidebar {
    display: none !important;
  }
  .wrapper .main_wrapper .main .location .social-layout .content {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .main_wrapper .main .location .social-layout .content .post .post-images {
    flex-wrap: wrap;
  }
  .wrapper .main_wrapper .main .location .social-layout .content .post .post-images .post-image {
    width: 100% !important;
    height: 200px !important;
  }
  .wrapper .main_wrapper .main .location .social-layout .content .post .travel-card {
    flex-wrap: wrap;
    gap: 10px !important;
  }
  .wrapper .main_wrapper .main .location .social-layout .content .post .travel-card__image-wrapper {
    width: 100% !important;
  }
  .wrapper .main_wrapper .main .location .social-layout .content .post .travel-card__content {
    width: 100% !important;
    padding: 0px !important;
  }
  .wrapper .main_wrapper .main .location .social-layout .content .tabs {
    position: relative;
  }
  .wrapper .main_wrapper .main .location .social-layout .content .tabs .menu-toogles {
    cursor: pointer;
    display: block !important;
  }
  .wrapper .main_wrapper .main .location .social-layout .content .tabs .links {
    z-index: 1008 !important;
    flex-direction: column;
    position: absolute;
    background: #fff;
    width: 250px;
    padding: 20px;
    left: 0;
    top: 100%;
    display: none !important;
  }
}/*# sourceMappingURL=profile_main.css.map */