@font-face {
    font-family: 'TT Commons';
    src: url('../../assets/fonts/TT\ Commons\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$font-main: 'TT Commons';

.main_wrapper {
    .main {
      
        .profile_head {
            padding: 40px;
            .container {
                background-color: #fff;
                overflow: hidden;
                border-radius: 8px;
                .img {
                    width: 100%;
                    height: 300px;
                    background-image: url("..//..//assets/images/head_background.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                   
                }

                .profile_section {
                    display: flex;
                    align-items: center;
                    padding: 20px 30px;

                    .profile-left {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 65px;
                            height: 65px;
                        }

                        .title {
                            h3 {
                                font-family: $font-main;
                                font-size: 22px;
                                font-weight: 600;
                                color: #00195B;
                            }

                            span {
                                font-family: $font-main;
                                color: #555961;
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }
                    }


                    .profile-right {
                        display: flex;
                        justify-content: end;
                        gap: 20px;
                        flex-grow: 1;

                        button {
                            display: flex;
                            align-items: center;
                            font-size: 15px;
                            padding: 8px 20px;
                            background-color: #0041F2;
                            gap: 10px;
                            color: #fff;
                            outline: none;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            font-weight: bold;
                            font-family: $font-main;
                            transition: background-color 0.3s ease; 

                            &:hover {
                              background-color: darken(#0041F2, 25%); // Rangni biroz to'qroq qilish
                            }
                        }
                    }
                }

                .profile-menu {
                    padding: 20px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #fff;
                    margin-top: 10px;
                    outline: none;
                    border: none;
                    .menu-toggle-links {
                        display: none;
                        font-size: 24px;
                        background: none;
                        border: none;
                        cursor: pointer;
                        color: #0041F2;
                    }
                   
                    ul {
                        list-style: none;
                        display: flex;
                        gap: 25px;

                        li {
                            font-family: $font-main;
                            font-size: 18px;
                            color: #666;
                            cursor: pointer;
                            transition: color 0.3s ease;
                            display: block;
                            position: relative;
                            
                            a{
                                text-decoration: none;
                                color: #00195B;
                              
                               
                                &.active {
                                    font-weight: bold;
                                      color: #00195B;
                                      &::after {
                                          content: "";
                                          position: absolute;
                                          width: 100% !important;
                                          height: 2px;
                                          left: 0;
                                          bottom: calc(-100% - 3px);
                                          background-color: #0041F2;
                                          @media screen and (max-width: 840px) {
                                          display: none;
                                          }
                                      }
                                     
                                  }
                                  &:hover {
                                    color: #0056b3;
                                }
                            }
                           
                           

                            
                        }
                    }

                    .social-icons {
                        display: flex;
                        gap: 10px;

                        a {
                            display: block;
                            padding: 5px 10px;
                            border-radius: 5px;
                            background-color: rgba(85, 89, 97, 0.11);

                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .main_wrapper{
        .main{
            .profile_head{
                padding: 10px;
            }
        }
    }
    
}
@media screen and (max-width:840px) {
    .main_wrapper{
        .main{
            .profile_head{
                .container{
                    .profile-menu{
                        position:  relative !important;
                        .menu-toggle-links {
                            display: block !important;
                            position: relative;
                            z-index: 1001;
                        }
                
                        .tabs {
                            display: none !important;
                            flex-direction: column;
                            gap: 10px !important;
                            position: absolute;
                            z-index: 100;
                            top: -150px;
                            left: 0;
                            background: white;
                            width: 100%;
                            padding: 10px;
                            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                
                            &.show {
                                display: flex !important;
                            }
                        }
                    }

                    .profile_section{
                        padding: 10px 15px;
                        flex-direction: column;
                        gap: 12px;
                        align-items: start;
                        @media screen and (max-width:440px) {
                            .profile-right{
                                flex-direction: column;
                                gap: 12px;
                                button{
                                   display: flex;
                                   align-items: center;
                                   justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}