@font-face {
  font-family: "TT Commons";
  src: url("../../assets/fonts/TT Commons Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.main_wrapper .main .profile_head {
  padding: 40px;
}
.main_wrapper .main .profile_head .container {
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}
.main_wrapper .main .profile_head .container .img {
  width: 100%;
  height: 300px;
  background-image: url("..//..//assets/images/head_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_wrapper .main .profile_head .container .profile_section {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}
.main_wrapper .main .profile_head .container .profile_section .profile-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main_wrapper .main .profile_head .container .profile_section .profile-left img {
  width: 65px;
  height: 65px;
}
.main_wrapper .main .profile_head .container .profile_section .profile-left .title h3 {
  font-family: "TT Commons";
  font-size: 22px;
  font-weight: 600;
  color: #00195B;
}
.main_wrapper .main .profile_head .container .profile_section .profile-left .title span {
  font-family: "TT Commons";
  color: #555961;
  font-size: 15px;
  font-weight: 500;
}
.main_wrapper .main .profile_head .container .profile_section .profile-right {
  display: flex;
  justify-content: end;
  gap: 20px;
  flex-grow: 1;
}
.main_wrapper .main .profile_head .container .profile_section .profile-right button {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 8px 20px;
  background-color: #0041F2;
  gap: 10px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "TT Commons";
}
.main_wrapper .main .profile_head .container .profile-menu {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 10px;
  outline: none;
  border: none;
}
.main_wrapper .main .profile_head .container .profile-menu .menu-toggle-links {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0041F2;
}
.main_wrapper .main .profile_head .container .profile-menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
.main_wrapper .main .profile_head .container .profile-menu ul li {
  font-family: "TT Commons";
  font-size: 18px;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease;
  display: block;
  position: relative;
}
.main_wrapper .main .profile_head .container .profile-menu ul li a {
  text-decoration: none;
  color: #00195B;
}
.main_wrapper .main .profile_head .container .profile-menu ul li a.active {
  font-weight: bold;
  color: #00195B;
}
.main_wrapper .main .profile_head .container .profile-menu ul li a.active::after {
  content: "";
  position: absolute;
  width: 100% !important;
  height: 2px;
  left: 0;
  bottom: calc(-100% - 3px);
  background-color: #0041F2;
}
@media screen and (max-width: 840px) {
  .main_wrapper .main .profile_head .container .profile-menu ul li a.active::after {
    display: none;
  }
}
.main_wrapper .main .profile_head .container .profile-menu ul li a:hover {
  color: #0056b3;
}
.main_wrapper .main .profile_head .container .profile-menu .social-icons {
  display: flex;
  gap: 10px;
}
.main_wrapper .main .profile_head .container .profile-menu .social-icons a {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(85, 89, 97, 0.11);
}

@media screen and (max-width: 768px) {
  .main_wrapper .main .profile_head {
    padding: 10px;
  }
}
@media screen and (max-width: 840px) {
  .main_wrapper .main .profile_head .container .profile-menu {
    position: relative !important;
  }
  .main_wrapper .main .profile_head .container .profile-menu .menu-toggle-links {
    display: block !important;
    position: relative;
    z-index: 1001;
  }
  .main_wrapper .main .profile_head .container .profile-menu .tabs {
    display: none !important;
    flex-direction: column;
    gap: 10px !important;
    position: absolute;
    z-index: 100;
    top: -150px;
    left: 0;
    background: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .main_wrapper .main .profile_head .container .profile-menu .tabs.show {
    display: flex !important;
  }
  .main_wrapper .main .profile_head .container .profile_section {
    padding: 10px 15px;
    flex-direction: column;
    gap: 12px;
    align-items: start;
  }
}
@media screen and (max-width: 840px) and (max-width: 440px) {
  .main_wrapper .main .profile_head .container .profile_section .profile-right {
    flex-direction: column;
    gap: 12px;
  }
  .main_wrapper .main .profile_head .container .profile_section .profile-right button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=profile_head.css.map */