@font-face {
  font-family: "TT Commons";
  src: url("../../assets/fonts/TT Commons Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.wrapper .main_wrapper .main .subscribe {
  width: 100%;
  height: 350px;
  background-image: url("..//../assets/images/subscribe_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .main_wrapper .main .sub {
  position: relative;
  bottom: 0px;
  margin-top: -200px;
}
.wrapper .main_wrapper .main .sub .container .main_friend,
.wrapper .main_wrapper .main .friends_section .container .main_friend {
  background-color: #fff;
  padding: 20px 30px;
  margin: 25px 0;
  overflow: hidden;
  border-radius: 8px;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ {
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  width: calc(33.3333333333% - 15px);
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(127, 134, 151, 0.03);
  text-decoration: none;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .img,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .img img,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .img .badge,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .img .badge {
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: blue;
  border-radius: 50%;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info {
  width: calc(100% - 75px);
  display: flex;
  justify-content: space-between;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info h3,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info h3 {
  line-height: 22px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(0, 25, 91);
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info p,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(85, 89, 97);
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info .btn-group,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info .btn-group .sms,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info .btn-group .sms {
  width: 35px !important;
  height: 35px !important;
  background-color: rgb(0, 65, 242);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info .btn-group .sms:last-child,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info .btn-group .sms:last-child {
  background-color: #fff;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info .btn-group .menu-button,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info .btn-group .menu-button {
  width: 35px !important;
  height: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  gap: 3px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info .btn-group .menu-button .dots,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info .btn-group .menu-button .dots {
  width: 5px;
  height: 5px;
  background-color: rgb(0, 65, 242);
  border-radius: 50%;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn {
  width: calc(100% - 75px);
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn .inf,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn .inf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn .inf h3,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn .inf h3 {
  line-height: 22px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(0, 25, 91);
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn .inf p,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn .inf p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(85, 89, 97);
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn .btn-group,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn .btn-group {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn .btn-group .btn,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn .btn-group .btn {
  border-radius: 12px;
  padding: 8px 12px;
  background: #0041F2;
  color: #fff;
  font-family: "TT Commons";
  border: none;
  outline: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn .btn-group .btn:last-child,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn .btn-group .btn:last-child {
  background-color: #BFC4D2;
}
@media screen and (max-width: 420px) {
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card {
    position: relative;
    height: 130px;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn .btn-group,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn .btn-group {
    gap: 5px;
    position: absolute;
    left: 10px;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info-btn .btn-group .btn,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info-btn .btn-group .btn {
    padding: 5px 10px;
  }
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card1,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card1 {
  align-items: start;
  padding: 20px 10px;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_.active,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_.active {
  display: flex !important;
}
.wrapper .main_wrapper .main .sub .container .main_friend .friends_sub,
.wrapper .main_wrapper .main .friends_section .container .main_friend .friends_sub {
  display: flex;
}
.wrapper .main_wrapper .main .sub .container .main_friend .search-container,
.wrapper .main_wrapper .main .friends_section .container .main_friend .search-container {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(210, 214, 223, 0.5);
  border-radius: 8px;
  padding: 8px;
  background: #fff;
}
.wrapper .main_wrapper .main .sub .container .main_friend .search-container .search-input,
.wrapper .main_wrapper .main .friends_section .container .main_friend .search-container .search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px;
  background: transparent;
}
.wrapper .main_wrapper .main .sub .container .main_friend .search-container .search-input::-moz-placeholder, .wrapper .main_wrapper .main .friends_section .container .main_friend .search-container .search-input::-moz-placeholder {
  font-size: 17px;
  font-weight: 400;
  color: rgb(109, 114, 126);
  line-height: 20px;
  font-family: "TT Commons";
}
.wrapper .main_wrapper .main .sub .container .main_friend .search-container .search-input::placeholder,
.wrapper .main_wrapper .main .friends_section .container .main_friend .search-container .search-input::placeholder {
  font-size: 17px;
  font-weight: 400;
  color: rgb(109, 114, 126);
  line-height: 20px;
  font-family: "TT Commons";
}
.wrapper .main_wrapper .main .sub .container .main_friend .search-container .search-options,
.wrapper .main_wrapper .main .friends_section .container .main_friend .search-container .search-options {
  font-size: 17px;
  font-weight: 400;
  color: rgb(109, 114, 126);
  line-height: 20px;
  cursor: pointer;
}
@media screen and (max-width: 440px) {
  .wrapper .main_wrapper .main .sub .container .main_friend .search-container .search-options,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .search-container .search-options {
    display: none;
  }
}
.wrapper .main_wrapper .main .sub .container .profile-menus,
.wrapper .main_wrapper .main .friends_section .container .profile-menus {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
}
.wrapper .main_wrapper .main .sub .container .profile-menus .tab-friends,
.wrapper .main_wrapper .main .friends_section .container .profile-menus .tab-friends {
  list-style: none;
  display: flex;
  gap: 25px;
}
.wrapper .main_wrapper .main .sub .container .profile-menus .tab-friends li,
.wrapper .main_wrapper .main .friends_section .container .profile-menus .tab-friends li {
  font-family: "TT Commons";
  font-size: 18px;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease;
}
.wrapper .main_wrapper .main .sub .container .profile-menus .tab-friends li.active,
.wrapper .main_wrapper .main .friends_section .container .profile-menus .tab-friends li.active {
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
}
.wrapper .main_wrapper .main .sub .container .profile-menus .tab-friends li.active::after,
.wrapper .main_wrapper .main .friends_section .container .profile-menus .tab-friends li.active::after {
  content: "";
}
.wrapper .main_wrapper .main .sub .container .profile-menus .tab-friends li:hover,
.wrapper .main_wrapper .main .friends_section .container .profile-menus .tab-friends li:hover {
  color: #0056b3;
}
.wrapper .main_wrapper .main .sub .container .profile-menus .social-icons,
.wrapper .main_wrapper .main .friends_section .container .profile-menus .social-icons {
  display: flex;
  gap: 10px;
}
.wrapper .main_wrapper .main .sub .container .profile-menus .social-icons a,
.wrapper .main_wrapper .main .friends_section .container .profile-menus .social-icons a {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(85, 89, 97, 0.11);
}
@media screen and (max-width: 640px) {
  .wrapper .main_wrapper .main .sub .container .profile-menus,
  .wrapper .main_wrapper .main .friends_section .container .profile-menus {
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 15px;
  }
  .wrapper .main_wrapper .main .sub .container .profile-menus .tab-friends,
  .wrapper .main_wrapper .main .friends_section .container .profile-menus .tab-friends {
    flex-wrap: wrap;
    justify-content: space-between !important;
    gap: 10px;
  }
  .wrapper .main_wrapper .main .sub .container .profile-menus .tab-friends li,
  .wrapper .main_wrapper .main .friends_section .container .profile-menus .tab-friends li {
    text-align: center;
  }
}
.wrapper .main_wrapper .main .profile-menu {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 10px;
}
.wrapper .main_wrapper .main .profile-menu .menu-toggle-links {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0041F2;
}
.wrapper .main_wrapper .main .profile-menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
.wrapper .main_wrapper .main .profile-menu ul li {
  font-family: "TT Commons";
  font-size: 18px;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease;
}
.wrapper .main_wrapper .main .profile-menu ul li.active {
  font-weight: bold;
  color: #00195B;
}
.wrapper .main_wrapper .main .profile-menu ul li.active::after {
  content: "";
}
.wrapper .main_wrapper .main .profile-menu ul li:hover {
  color: #0056b3;
}
.wrapper .main_wrapper .main .profile-menu .social-icons {
  display: flex;
  gap: 10px;
}
.wrapper .main_wrapper .main .profile-menu .social-icons a {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(85, 89, 97, 0.11);
}

@media screen and (max-width: 1092px) {
  .wrapper .main_wrapper .main .sub .container .main_friend,
  .wrapper .main_wrapper .main .friends_section .container .main_friend {
    padding: 10px 15px !important;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 768px) {
  .wrapper .main_wrapper .main .location .container .main_friend,
  .wrapper .main_wrapper .main .friends_section .container .main_friend {
    margin: 15px 0 !important;
  }
}
@media screen and (max-width: 840px) {
  .wrapper .main_wrapper .main .location .profile-menu {
    padding: 20px 15px !important;
    position: relative !important;
    display: none;
  }
  .wrapper .main_wrapper .main .location .profile-menu .menu-toggle-links {
    display: block !important;
    position: relative;
    z-index: 1001;
  }
  .wrapper .main_wrapper .main .location .profile-menu .tabs {
    display: none !important;
    padding: 20px 15px !important;
    display: none;
    flex-direction: column;
    gap: 10px !important;
    position: absolute;
    top: 50px;
    left: 0;
    background: white;
    z-index: 1009 !important;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .wrapper .main_wrapper .main .location .profile-menu .tabs.show {
    display: flex !important;
  }
}
@media screen and (max-width: 640px) {
  .wrapper .main_wrapper .main .sub {
    margin-top: -280px !important;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend,
  .wrapper .main_wrapper .main .friends_section .container .main_friend {
    padding: 10px 15px !important;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ {
    gap: 15px;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card {
    width: 100%;
    padding: 10px 5px;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .img,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .img {
    width: 50px;
    height: 50px;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .img .badge,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .img .badge {
    width: 20px;
    height: 20px;
  }
  .wrapper .main_wrapper .main .sub .container .main_friend .friends_ .card .info h3,
  .wrapper .main_wrapper .main .friends_section .container .main_friend .friends_ .card .info h3 {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=subscibe.css.map */